.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
#comments {
	padding-bottom: 3rem;
	margin-bottom: 3rem;
	.comment-list {
		margin-left: 1.5rem;
	}
	p {
		text-indent: 0;
		margin-bottom: 1rem;
	}
	.comment-notes {
		display: none;
	}
	label {
		margin-right: 1rem;
	}
	input,
	textarea {
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	.comment-form-url input {
		margin-left: -5px;
	}
	.form-allowed-tags {
		display: none;
	}
	.submit {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		background-color: #323232;
		box-shadow: none;
		border: none;
		color: white;
		height: 2rem;
		line-height: 2rem;
		padding-bottom: 0;
		padding-top: 0;
		text-shadow: none;
		width: 175px;
	}
}